<mat-card>
  <mat-card-header>
    <h1>Formulário Filiação</h1>
  </mat-card-header>
  <mat-card-content>
    <prv-message type="warning" *ngIf="filiacaoFacade.erro$ | async as mensagemErro">
      <div class="text">
        <div class="linha">{{ mensagemErro }}</div>
      </div>
    </prv-message>
    <prv-message type="warning" *ngIf="filiacaoFacade.respostaGravacao$ | async as mensagemSucesso">
      <div class="text">
        <div class="linha">{{ mensagemSucesso.formulario }}</div>
      </div>
    </prv-message>
    <section class="section_formulario_filiacao" fxLayout="column" fxLayoutAlign="space-between stretch">
      <form (ngSubmit)="submit()" [formGroup]="formularioParticipante" #formParticipante="ngForm">
        <div class="participante" fxLayout="column" fxLayoutAlign="start stretch">
          <mat-form-field>
            <input matInput placeholder="Digite seu nome" formControlName="nome">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Digite seu CPF" formControlName="cpf">
          </mat-form-field>
          <mat-form-field>
            <input matInput type="date" placeholder="Data de nascimento" formControlName="dataNascimento">
          </mat-form-field>
          <mat-form-field>
            <input matInput type="email" placeholder="Digite seu email" formControlName="email">
          </mat-form-field>
          <mat-form-field>
            <input matInput type="tel" placeholder="Digite seu telefone" formControlName="telefone">
          </mat-form-field>
        </div>
        <div>
          <button mat-mini-fab type="submit" [disabled]="(!formParticipante.valid)">
            <mat-icon>done</mat-icon>
          </button>
          <button mat-mini-fab color="warn" type="button" (click)="limparFormulario()">
            <mat-icon>clear</mat-icon>
          </button>
        </div>
      </form>
    </section>
  </mat-card-content>
</mat-card>
